.dark-wood {
  -fx-background-image: url('images/dark-wood.jpg');
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover, auto;
  -fx-border-color: black;
  -fx-border-width: 2;
}

.light-wood {
  -fx-background-image: url('images/light-wood.jpg');
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover, auto;
  -fx-border-color: black;
  -fx-border-width: 2;
}

.queen{
  -fx-background-image: url('images/queen-elizabeth-2nd.png');
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover, auto;
}

.conflict{
  -fx-border-color: red;
  -fx-border-width: 2;
}

.queen-text{
  -fx-font-size: 32px;
}

#status-label{
  -fx-font-size: 32px;
}

.text-success{
  -fx-text-fill: green;
}

.text-failure{
  -fx-text-fill: red;
}

.combo-box>.list-cell {
  -fx-alignment: center;
}

#menu {
  -fx-background-color: burlywood;
}